body {
    overflow: hidden;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background: linear-gradient(135deg, black, #220033);
  }
  /* Media query for screens smaller than 768px (e.g., smartphones) */
@media (max-width: 767px) {
    body {
        font-size: 14px;
    }

    /* Additional styles for smaller screens */
}

/* Media query for screens between 768px and 991px (e.g., tablets) */
@media (min-width: 768px) and (max-width: 991px) {
    body {
        font-size: 15px;
    }

    /* Additional styles for medium-sized screens */
}

/* Media query for screens larger than 992px (e.g., desktops) */
@media (min-width: 992px) {
    body {
        font-size: 16px;
    }

    /* Additional styles for larger screens */
}
.content {
    position: relative;
    z-index: 3;
}

#no {
    position: absolute;
    display: inline-block;
    left: 35%;
    top: 40vh;
    -webkit-transition: all 0.1s ease-out;
}

#yes {
    position: absolute;
    display: inline-block;
    left: 70%;
    top: 40vh;
    -webkit-transition: all 0.3s ease-out;
}

#bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .8;
    /* height: 100vh; */
    z-index: 0;
    background-repeat: no-repeat;
    background-image: url(../img/bg.webp);
    background-size: cover;
    background-position: 50%;
    -webkit-filter: blur(4px);
}

.swal2-image {
    object-fit: contain;
}

.swal2-title,
.swal2-content {
    color: azure !important;
}

.swal2-popup {
    border-radius: 15px !important;
}

header h2 {
    font-family: 'Pacifico';
    font-size: 80px;
    text-align: center;
    margin-bottom: 30px;
    color: cyan;
}

header h4 {
    font-family: 'Pacifico';
    text-align: center;
    color: chartreuse;
}

@media only screen and (max-width: 500px) {
    header h2 {
        font-family: 'sans-serif';
        font-size: 45px;
        text-align: center;
        margin-bottom: 30px;
    }
    header h4 {
        font-family: 'Pacifico';
        text-align: center;
        padding: 15px;
    }
    #no {
        position: absolute;
        display: inline-block;
        left: 7%;
        top: 40vh;
        font-size: 14px;
        padding: 3px;
        -webkit-transition: all 0.1s ease-out;
    }
    #yes {
        position: absolute;
        display: inline-block;
        left: 58%;
        top: 40vh;
        font-size: 14px;
        padding: 3px;
        -webkit-transition: all 0.3s ease-out;
    }
}

.swal2-backdrop-show {
    background-size: 200px 100px !important;
}